html {
    font-size: 18px;
    font-family: Helvetica, sans-serif;
}

h4 {
    color: white;
}


/*-----HEADER-----*/
header {
    background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png');
    background-size: cover;
    height: 30rem;
    display: flex;
    justify-content: center;
}

.container {
    width: 960px;
}

header nav {
    display: flex;
    width: 100%;
    flex-direction: row;
    background-color: cadetblue;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.brand {
    display: flex;
    margin-left: 2rem;
    align-items: center;   
}

.brand img {
    height: 1.5rem;
    margin-right: 1rem;
}

nav ul {
    display: flex;
    flex-direction: row;
}

nav li a {
    display: flex;
    color: white;
    text-decoration: none;
    margin: 1rem 2rem 1rem 0;
}

.mobile {
    display: none;
}

.banner {
    display: flex;
    justify-content: flex-end;
    margin-top: 10rem;
    margin-right: -2rem;
}

.banner h1 {
    text-transform: uppercase;
    font-size: 2rem;
    background-color: white;
    padding: 1.5rem 5rem;
    font-weight: bold;
    line-height: 1.2;
}


/*-----SERVICES-----*/
.main {
    display: flex;
    justify-content: center;
}

.services {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.service-item {
    display: flex;
    flex-direction: column;
    height: 8rem;
    margin: 3rem 3rem;
    width: 5rem;
    justify-content: space-between;
    align-items: center;
}

.service-item img {
    object-fit: contain;
    width: 5rem;
}

#paper {
    width: 3.5rem;
}

.service-item h4 {
    color: black;
    text-align: center;
}


/*-----INFO SECTION-----*/
.info {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.info-text {
    display: flex;
    flex-direction: column;
    width: 35%;
    margin-right: 5%;
}

.info-text h3 {
    background-color: cadetblue;
    padding: 0.5rem 1.25rem;
    width: 10rem;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
}

.info-text p {
    margin-top: 1rem;
    line-height: 1.4;
}


/*-----FOOTER-----*/
footer {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

footer .container {
    background-color: azure;
}

.footer-text {
    padding: 4rem;
    display: flex;
    align-items: center;
}

.footer-text img {
    height: 1.5rem;
}

.footer-text h4 {
    color: black;
    margin-left: 1rem;
}


/*-----MEDIA QUERIES-----*/
@media only screen and (max-width:1024px) {
    .container {
        width: 100%;
    }    
    
    header {
        height: 22rem;
    }
    
    header nav {
        margin-top: 0;
    }
    
    .banner {
        margin-top: 5rem;
        margin-right: 2rem;
    }
    
    .banner h1 {
        padding: 0.75rem 4rem;
        font-size: 1.33rem;
    }
}


@media only screen and (max-width:470px) {
    header {
        background-position: 20%;
        height: 17rem;
    }
    
    .brand h4 {
        display: none;
    }
    
    .mobile {
        display: flex;
    }
    
    .standard {
        display: none;
    }
    
    .banner {
        justify-content: center;
        width: 100%;
        margin: 0 auto;
        margin-top: 9rem;
    }
    
    .banner h1 {
        padding: 1rem auto;
    }
    
    .services {
        flex-direction: column;
        align-items: center;
        margin: 3.77rem 0;
    }
    
    .service-item {
        margin: 0.77rem;
        height: auto;
        justify-content: center;
    }
    
    .service-item h4 {
        margin-top: 1rem;
        font-size: 0.77rem;
    }
    
    .info {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    
    .info-text {
        width: 100%;
        align-items: center;
        margin: 0 0 4rem 0;
    }
    
    .info-text h3 {
        width: 100%;
        text-align: center;
        margin: 0 auto;
        padding: 0.5rem 0;
    }
    
    .info-text p {
        font-size: 0.77rem;
    }
    
    .footer-text{
        flex-direction: column;
        justify-content: center;
    }
    
    .footer-text h4{
        display: none;
    }
}