html {
    font-size: 18px;
    line-height: 1.4;
    font-family: Helvetica, sans-serif;
    background-color: white;
}

h4 {
    color: white;
}


/*-----HEADER-----*/
header {
    background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png');
    background-size: cover;
    height: 30rem;
    display: flex;
    justify-content: center;
}

.container {
    width: 960px;
}

header nav {
    display: flex;
    width: 100%;
    flex-direction: row;
    background-color: cadetblue;
    justify-content: space-between;
    align-items: center;
}

.brand {
    display: flex;
    margin-left: 2rem;
    align-items: center;   
}

.brand img {
    height: 1.5rem;
    margin-right: 1rem;
}

nav ul {
    display: flex;
    flex-direction: row;
}

nav li a {
    display: flex;
    color: white;
    text-decoration: none;
    margin: 1rem 2rem 1rem 0;
}

.banner {
    display: flex;
    justify-content: flex-end;
    margin-top: 10rem;
    margin-right: -2rem;
}

.banner h1 {
    text-transform: uppercase;
    font-size: 2rem;
    background-color: white;
    padding: 1.5rem 5rem;
    font-weight: bold;
    line-height: 1.2;
}


/*-----SERVICES-----*/
.main {
    display: flex;
    justify-content: center;
}

.services {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.service-item {
    display: flex;
    flex-direction: column;
    height: 8rem;
    margin: 3rem 3rem;
    width: 5rem;
    justify-content: space-between;
    align-items: center;
}

.service-item img {
    object-fit: contain;
    width: 5rem;
}

#paper {
    width: 3.5rem;
}

.service-item h4 {
    color: black;
    text-align: center;
}


/*-----INFO SECTION-----*/
.info {
    display: flex;
    flex-direction: row;
}

.info-text {
    display: flex;
    flex-direction: column;
    width: 35%;
    margin-right: 5%;
}

.info-text h3 {
    background-color: cadetblue;
    padding: 0.5rem 1.25rem;
    width: 10rem;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
}

.info-text p {
    margin-top: 1rem;
    line-height: 1.4;
}

/*-----FOOTER-----*/